:root {
    --dark: #183D61;
    --secondary: #BCA58B;
    --blue-dark: #12304e;
    --background: #F5F5F5;

}

/* General styles for the body */
body {
    margin: 0;
    font-family: Poppins;
    background-color: var(--background);
}

.paddContainer{
    padding: 4em;
}

button {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 12%;
}

button:hover {
    background-color: var(--secondary);
}

/* ------------ NAVBAR ------------ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--dark); /* Set the background color to blue */
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
}

#nav-logo-holder img {
    width: 80px; /* Ensure the logo is 80px wide */
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    .nav-left {
        width: 100%;
        justify-content: center;
    }

    #nav-logo-holder img {
        width: 60px; /* Adjust logo size for smaller screens */
    }
}

@media (max-width: 480px) {
    nav {
        padding: 5px;
    }

    #nav-logo-holder img {
        width: 50px; /* Adjust logo size for the smallest screens */
    }
}

/* ------------ EXPLIN PAGE ------------ */
/* Menu styling */
#lesson_menu {
    width: 20%;
    height: calc(100vh - 50px); /* Full height of the viewport minus the navbar height */
    background-color: var(--blue-dark);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 70px; /* Place the menu below the navbar */
}

#lesson_menu h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: medium;
}

#lesson_menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

#lesson_menu li {
    margin-bottom: 0%;
    width: 110%;
}

#lesson_menu a {
    background-color: var(--dark);
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

#lesson_menu a:hover {
    background-color: var(--secondary);
}
/* Container for the PDF */
#explin_container {
    margin-left: 20%; /* Leave space for the fixed menu */
    width: 60%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the container horizontally */
}

#pdf-container {
    margin-top: 15%;
    margin-left: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdf-canvas {
    width: 100%;
    height: auto;
    border-radius: 24px; /* Default border-radius */
}

#navigation-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#prev-page, #next-page {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--blue-dark);
    margin: 0 330%;
    margin-top: -400%;
    border-radius: 24px; /* Default border-radius */
}

#prev-page:hover, #next-page:hover {
    color:var(--dark);
}

/* Responsive styles */
@media (max-width: 768px) {
    #pdf-canvas,
    #prev-page,
    #next-page {
        border-radius: 20px; /* Adjusted for smaller screens */
    }
}

@media (max-width: 480px) {
    #pdf-canvas,
    #prev-page,
    #next-page {
        border-radius: 16px; /* Further adjustment for even smaller screens */
    }
}

#toggleRecord{
    background-color: var(--secondary);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#toggleRecord:hover {
  background-color: #616161;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* ------------ LOGIN PAGE ------------- */
.login-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: var(--dark); /* Set the background color to blue */
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    margin-top: 700px;
    margin-bottom: 500px;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
}

.login-form label {
    color: #676468;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.login-form button {
    margin-top: 20px;
    width: 100%;
}

.login-form a {
    color: #676468;
}
#pass-link{
    text-align: right;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.login-form a:hover {
    color: #183D61;
}

#brown-line {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #BCA58B;
    width: 80%;
}

.login-form p {
    font-size: 14px;
    display: block;
    color: #676468;
}


/* ------------ CHAPTERS PAGE ------------ */

.header {
    margin: 4em 0;
}

.pageTitle h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 0;
}

.pageSubtitle {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 8%;
}

.pageSubtitle p {
    color: #555;
    z-index: 1; /* Ensure the subtitle is above the line */
    background-color: var(--background); 
    padding: 0 10px;
    margin: 0; 
}

.pageSubtitle button {
    border-radius: 10px;
    margin-left: auto;
    z-index: 1; /* Ensures the button stays on top of the line */
    border: 5px solid var(--background);
}

.pageSubtitle::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* Aligns the line in the middle vertically */
    border-bottom: 3px solid var(--secondary); /* Line style */
    z-index: 0; /* Positions the line behind the text and button */
}

#chapters{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.chapterCard {
    text-decoration: none;
    background: url("images/background.png");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 29%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 29%; /* to make them visually consistent in height */
    margin-bottom: 6%;
    margin-right: 6.5%;
}

.chapterCard:nth-child(3n) {
    margin-right: 0; /* Removes the right margin for every third card */
}

.chapterCard:hover {
    transform: scale(1.10);
}

.chapterCard div {
    background-color: white;
    flex-grow: 1;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.chapterCard h1{
    padding: 15%;
    color: white;
}

.chapterCard div p{
    color:#000;
    padding: 0px 15px;
}

.add-chapter-container {
            padding: 50px;
        }

        .add-chapter-container h4 {
            margin-bottom: 4px;
        }

        #add-chapter-line {
            color: #BCA58B;
            width: 8%;
            border: 1px solid #BCA58B;
            margin: 0;
        }

        .hr-container {
            display: flex;
            justify-content: flex-start;
        }

        .add-chapter-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-chapter-form label {
            margin-top: 10px;
        }

        .add-chapter-form input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        #add-chapter {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .input-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-block input, .input-block label {
            width: 48%;
        }

        #add-llos {
            max-width: 97%;
            padding: 20px;
            margin: 20px;
            margin-bottom: 40px;
            background-color: #E9E9E9;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .file-upload {
            margin: 30px;
            padding: 30px 0px;
            border-width: 2px;
            border-style: dashed;
            border-color: rgba(3, 3, 3, 0.25);
            border-radius: 8px;
            background-color: #F6F3EE;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        #upload {
            margin-bottom: -20px;
            opacity: 0.25;
        }

        .file-upload input {
            display: none;
        }

        .file-upload label {
            opacity: 0.25;
            width: 50%;
            text-align: center;
            cursor: pointer;
        }

        .add-chapter-form button[type="submit"] {
            width: 8%;
            margin-top: 20px;
            padding: 10px;
            background-color: #002244;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
        }

        .add-chapter-form button[type="submit"]:hover {
            background-color: #001122;
        }


/* ---------------- ADD CHAPTER PAGE --------------- */

.add-chapter-container {
    padding: 50px;
}

.add-chapter-container h4 {
    margin-bottom: 4px;
}

#add-chapter-line {
    color: #BCA58B;
    width: 8%;
    border: 1px solid #BCA58B;
    margin: 0;
}

.hr-container {
    display: flex;
    justify-content: flex-start;
}

.add-chapter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-chapter-form label {
    margin-top: 10px;
}

.add-chapter-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#add-chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-block input, .input-block label {
    width: 48%;
}

#add-llos {
    max-width: 97%;
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
    background-color: #E9E9E9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload {
    margin: 30px;
    padding: 30px 0px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(3, 3, 3, 0.25);
    border-radius: 8px;
    background-color: #F6F3EE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#upload {
    margin-bottom: -20px;
    opacity: 0.25;
}

.file-upload input {
    display: none;
}

.file-upload label {
    opacity: 0.25;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.add-chapter-form button[type="submit"] {
    width: 8%;
    margin-top: 20px;
    padding: 10px;
    background-color: #002244;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.add-chapter-form button[type="submit"]:hover {
    background-color: #001122;
}


        


/* ------------ LESSONS PAGE ------------ */

.lessonCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.lessonCard .leftContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lessonCard .leftContent .uncheck { /* Checkbox styles if the user not submit explanation yet */
    min-width: 35px;
    min-height: 35px;
    margin-right: 3%;
    border-radius: 5px;
    background-color: #ece4dc;
}

.lessonCard .leftContent .checked { /* Checkbox styles if the user submit explanation */
    width: 35px;
    height: 35px;
    margin-right: 3%;
    border-radius: 5px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark { 
    height: 50%; 
    width: 15%; 
    border-bottom: 3px solid white; 
    border-right: 3px solid white; 
    transform: rotate(45deg); 
} 

.lessonCard .rigthContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#scoreBtn {
    background-color: var(--secondary);
    margin-right: 15px;
}

#scoreBtn:hover {
    background-color: #a08668;
}
